doctype html
html(lang="zh-tw" ng-app="chainApp")

head
	link(rel="shortcut icon",href="images/favicon.ico")
	title Frontend
	meta(charset='utf-8')
	link(href="stylesheets/screen.css", media="screen, projection", rel="stylesheet", type="text/css" )
	link(href="stylesheets/print.css", media="print", rel="stylesheet", type="text/css" )

//[if !IE]><!
	link(href="stylesheets/ie.css", media="screen, projection, rel="stylesheet", type="text/css" )
//<![endif]


body(ng-controller = "chainCtrl", ng-keydown="keyPress($event)")
	nav(id = "chain" ng-cloak)
		ul {{title}}
			span(class = "number") {{myI}}
				sub -{{myJ}}
			li(ng-repeat="i in myColumnIndex")
				a(ng-href = "#{{title}}&{{i}}&{{myJ}}",
					ng-class = "{active: myI == i}",
					ng-click = "$parent.myI = i",) 


	div(id = "side", ng-cloak)
		ul 
			li(ng-repeat="j in goban.data | toIndex",
				ng-click = "$parent.myJ = j")

				a(ng-if = 'goban.data[j].isFolder'
					ng-click = "$parent.goban.data[j].isClosed = !goban.data[j].isClosed;",
					ng-class = "{active: myJ == j}")
					img(class ="folder", ng-show = 'goban.data[j].isClosed', src = "images/isClosed.png")
					img(class ="folder", ng-show = '!goban.data[j].isClosed', src = "images/isOpen.png")
					{{goban.data[j].name || j}}
					b(class = "arrowHead", ng-class = "{right: goban.data[j].isClosed, down: !goban.data[j].isClosed}")
				
				a(ng-if = "!goban.data[j].isFolder"
					ng-show = " goban.data[j].pIndex == 'self' || !goban.data[goban.data[j].pIndex].isClosed"
					ng-href = "#{{title}}&{{myI}}&{{j}}",		
					class = "elem",		
					ng-class = "{active: myJ == j}")
					img(ng-src = "http://www.google.com/s2/favicons?domain={{goban.data[j].url}}")
					{{goban.data[j].name || j}}


	div(id = "main")
		iframe(id = "myFrame", ng-cloak,
				ng-repeat = "d in goban.data track by $index",
				ng-if = "$index - myJ < 2 || myJ - $index < 2",
				ng-class = "{null: $index != myJ}",
				ng-src = "{{trust(d.url)}}",
				width="100%", height = "642px")
	div(id = "keyBordCtrl")
		div(id = "up",ng-class = "{available: false}",
					ng-click="up(-1)")
		div(id = "down",ng-class = "{available: false}",
					ng-click="up(1)")
		div(id = "left",ng-class = "{available: ture}",
					ng-click="left(-1)")
		div(id = "right",ng-class = "{available: ture}",
					ng-click="left(1)")
		div(id = "backup",class = "backup")
			a(ng-click="backup()")



	script(src = "bower_components/angular/angular.min.js")
	script(src = "javascripts/index.js")